nbproject
.vagrant
.DS_Store
vendor
apps/*/config/application.local.ini
apps/backend/config/credentials.php
apps/*/tests/coverage/
apps/*/tests/clover.xml
composer.phar
config/phinx-local.yml
.idea/
.wercker
Vagrantfile
