/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.tabs table {
    border-collapse: separate;
    border-spacing: 1px;
}

body{color:white;font-family: 'Open Sans', sans-serif;background:#f4f4f4}
#header{width:100%;height:120px}
.robinson-background{background:#de1a28}
#header .inner-site{position:relative}
#header #social {margin-top:30px}
#header #logo {padding-top:15px}
#header #contact-info {margin-top:30px}
.inner-site{width:1170px;margin:0 auto}
#social{position:absolute;left:0}
#logo{text-align:center}
#contact-info{position:absolute;top:0;right:0}
/*#main-section{background: url("../img/assets/header-img.jpg") center no-repeat; height:539px;width:100%}*/
#main-section{background: url("../img/assets/cestitka-konacni.jpg") center no-repeat; height:539px;width:100%}
#main-section .inner-site #select-wrap {width:520px;background:#de1a28;padding:15px 15px 30px 15px;position:relative;top:170px;margin:0 auto}
#main-section .inner-site #low-price{float:right;margin-top:200px; font-size:30px}
#main-section .inner-site .big-price{font-size:52px; letter-spacing: -7px; font-weight: lighter}
#main-section .inner-site #low-price #top-low-price {padding:10px 10px 10px 10px;background:white;line-height: 150%}
#main-section .inner-site #low-price a {color:#333333;text-decoration:none}
#main-section .inner-site #low-price #bottom-low-price {padding:10px; margin-top:10px}
#main-section .inner-site #low-price #bottom-low-price a {color:white;font-size:25px;font-weight:bold}
#main-section .inner-site #low-price #bottom-low-price a:hover {text-decoration:underline}
#select{text-align:center}
#select h3{text-align:left;font-size:26px}
#destination-selection{color:black}
#main-nav{width:100%;background:white;height:70px;border-bottom:5px solid #de1a28}
#main-nav ul{margin:0 auto}
#main-nav ul li{display:inline-block}
#main-nav ul li a{color:#333333;float:left;width:120px;height:70px;padding:12px 12px 12px 12px;
    background: url("../img/assets/link-separator.png") center right no-repeat;text-decoration: none;line-height:125%}
.active{color:white !important; background:#de1a28 !important}
#main-nav ul li#home-link{width:80px;height:70px}
#main-nav ul li#home-link a{width:100%;height:100%;display:inline-block;padding:0;background:none}
#main-nav ul li#home-link a img{position:relative;top:25px;left:25px}
#iphone-large{width:50px}
#contact-page-link {margin-top:1px}
#contact-page-link a {color:white; text-decoration: underline; font-size:20px;font-weight:bold}
#content {background:#f4f4f4;padding-bottom:20px}
.date-sticker {width:250px;padding:10px 0; /*background: rgba(195, 195, 195, 0.5);*/ background:#c9101e; font-weight:bold; color:white; text-align:center; position:absolute}
/* index/index */
#index-last-minute, #index-first-minute {padding: 20px 0 20px 0; text-align: center}
#index-last-minute h4, #index-first-minute h4 {text-align:center; font-size:30px;color:#333333}
#index-last-minute h4 strong, #index-first-minute h4 strong {font-weight:bold}
.package-item {color:#333333;display:inline-block;width:250px;margin:40px 0 0 20px;background:white}
.package-item-package{text-align: center}
.package-item-price {font-weight: bold;text-align:center; margin-top:5px}
.package-item-price span {color:red}
.package-item-image {height:200px;overflow:hidden}
.package-item-link a {width:250px; display:block; padding:5px; background:#c3c3c3; margin-top:10px;text-align:center;color:white}
.package-item-link a:hover {background:#de1a28;text-decoration: none}
.index.section.tabs {text-align:center;background:#f4f4f4;padding-bottom:60px;padding-top:20px}
.tabs-heading {display:inline; background:white;padding:10px;background:#C9101E}
.tabs-heading li {display:inline-block; margin-left:20px}
.tabs-heading li a {text-decoration: none; /*color:#333*/ color:white}
.tabs-heading li a.selected {text-decoration: underline}
.tabs-nav {background:#c3c3c3;margin-left:auto;margin-right:auto;text-align:center}
.first-cat{border-left:1px solid white}
.tabs-nav li {list-style-type: none;display:inline-block;margin-top:0 !important;margin-left:-4px}
.tabs-nav li a{color:white;display:inline-block;padding:30px 40px 30px 40px;font-size:20px; border-right: 1px solid white}
.tabs-nav li a:hover, .tabs-nav li a.selected{background:white;color:#333;text-decoration: none}
.category-tab{background:white;padding:20px}
.cat-thumb {float:left;width:300px;margin-top:20px; margin-right:20px}
/* category/index, destination/index, package/index */
.category h1, .destination h1, .package h1, .info-page h1 {font-size:36px; padding:20px; color:#333333;text-align:center;font-weight:bold}
.category, .destination, .package {padding-top:30px;padding-bottom:30px}
.description{color:#333333; font-size:18px; line-height:120%; padding-bottom:20px}
.description p {margin: 10px 0}
.description strong{font-weight:bold}
.intro, .destinations-list, .packages-list {background:#f4f4f4}
.gallery{display:inline-block}
.destinations-list ul li, .packages-list ul li {margin-top:20px; height:188px}
.destinations-list h3, .packages-list h3 {font-weight:bold}
.destinations-list h3 span, .packages-list h3 span {font-weight: normal}
.destinations-list li, .packages-list li {clear:both}
.destinations-list h3 a, .packages-list h3 a {color:#333333}
.destinations-list h2, .packages-list h2 {color:#333333;font-size:30px;text-align:center}
.destinations-list h2 strong, .packages-list h2 strong {font-weight:bold}
.destinations-list .image, .packages-list .image {float:left; width:250px; margin-right:30px}
.destinations-list .description {}
.destinations-list .description-text, .packages-list .description-text {margin-top:10px; font-size:16px}
.destinations-list .link, .packages-list .link {font-size:16px;margin-top:10px}
.destinations-list .link a, .packages-list .link a {color:#de1a28}

/* destination/index */
.packages-list div {color:#333333}
.destination .customSelect {background-image:none; border:1px solid #f4f4f4}
.destination.index em {font-style: italic}

/* package/index */
#price{text-align: center; margin-top:10px}
#price span {background:white; padding:5px; display:inline-block;color:#333333}
.tabs h4 {font-weight:bold; text-transform: uppercase; margin-top:35px; font-size:120%; color:#DE1A28}

/* package/index */
.prices{background:#de1a28;padding:50px 0;text-align:center; margin-top:20px}
.prices .inner-site a{color:white}
.prices .inner-site a span{display:block; margin-top:20px}
.contrast-bg{background:#F4F4F4}
.tabs{color:#333333}
.tabs p {margin: 10px 0; line-height:150%}
.tabs strong {font-weight:bold}
.tabs ul {list-style-type: disc; list-style-position: inside}
.tabs ul li{margin-top:20px}
.contact-form input {width:100%}
.contact-form .input-text, .contact-form .input-textarea {/*background: #f4f4f4;*/ border:none;padding:10px; margin-top:10px; width:1170px; color:#333333}
.contact-form .input-textarea {height:100px}
.contact-form .input-submit {background:#c3c3c3;border:none; padding:10px; text-align:center;margin-top:10px}
.c {cursor:pointer !important}
.successMessage {color:#333333}
.errors {color:#de1a28; list-style-position: inside}
.packages.tabs table {}

/* contact */
#index-contact h1 {font-size:36px; color:#333333;text-align:center;font-weight:bold; padding:20px 0}

/* footer */
#footer{padding:20px 0 0 0;margin-top:-10px}
#footer h3 {font-weight: bold}
#footer ul {margin-top:20px}
#footer ul li {list-style-type: disc; list-style-position: inside}
#footer ul li {margin-top:10px}
#footer ul li a{color:white}
#footer #gmap {margin-top:20px; color: #333333}
#footer #packages, #footer #map, #footer #contact-data {display:inline-block; margin-left:10px}
#footer #packages, #footer #contact-data {vertical-align: top}
#footer #packages {width:250px}
#footer #packages ul li a {font-size:13px}
#footer #contact-data {width:250px; margin-left:40px}
#footer #map h3 {text-align: center}
#footer #contact-data div {margin-top:20px}
#footer #contact-data .icon {float:left;width:50px}
#footer #contact-data .data {font-weight:bold;  line-height:5px}
#footer #contact-data #phones .data .phone {}
#footer #contact-data .info-page-link {margin-top:30px}
#footer #contact-data .info-page-link a {color:white;text-decoration: white}
#footer #copyright {background:#c9101e; padding:20px 0; margin-top:20px; font-size:13px}
#footer #copyright p {vertical-align: middle;text-align:center}

.static-page p {color:black; line-height:150%}
.static-page strong {font-weight:bold}

/* index/zaAgente */
.pricelists {list-style-type: disc; list-style-position: inside; padding-bottom:20px}
.pricelists li {margin-top:10px; color: #de1a28}
.pricelists li a {color: black}

/* custom select */
.customSelect {
    /* This is the default class that is used */
    /* Put whatever custom styles you want here */
    background-color:white;width:100%;text-align:left;padding:10px;color:black;margin-top:10px;
    background-image: url("../img/assets/select.png");
    background-position: right 20px bottom 12px;
    background-repeat: no-repeat;
    font-size:18px;
}

.customSelect.customSelectHover {
    /* Styles for when the select box is hovered */
    color:black;
}

.customSelect.customSelectOpen {
    /* Styles for when the select box is open */
    color:black;
}

.customSelect.customSelectFocus {
    /* Styles for when the select box is in focus */
    color:black;
}

.customSelectInner {
    /* You can style the inner box too */
    color:black;
    width:100% !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}