/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{color:white;font-family: 'Open Sans', sans-serif}
#header{width:100%;height:120px}
.robinson-background{background:#de1a28}
#header .inner-site{position:relative}
#header #social {margin-top:30px}
#header #logo {padding-top:15px}
#header #contact-info {margin-top:30px}
.inner-site{width:1170px;margin:0 auto}
#social{position:absolute;left:0}
#logo{text-align:center}
#contact-info{position:absolute;top:0;right:0}
#main-section{background: url("../img/assets/header-img.jpg") center no-repeat; height:539px;width:100%}
#main-section .inner-site #select-wrap {width:520px;background:#de1a28;padding:15px 15px 30px 15px;position:relative;top:170px;margin:0 auto}
#main-section .inner-site #low-price{float:right;margin-top:200px; font-size:30px}
#main-section .inner-site .big-price{font-size:52px; letter-spacing: -7px; font-weight: lighter}
#main-section .inner-site #low-price #top-low-price {padding:10px 10px 10px 10px;background:white;line-height: 150%}
#main-section .inner-site #low-price a {;color:#333333;text-decoration:none}
#main-section .inner-site #low-price #bottom-low-price {padding:10px; margin-top:10px}
#main-section .inner-site #low-price #bottom-low-price a {color:white;font-size:25px;font-weight:bold}
#main-section .inner-site #low-price #bottom-low-price a:hover {text-decoration:underline}
#select{text-align:center}
#select h3{text-align:left;font-size:26px}
#destination-selection{color:black}

/* custom select */
.customSelect {
    /* This is the default class that is used */
    /* Put whatever custom styles you want here */
    background-color:white;width:100%;text-align:left;padding:10px;color:black;margin-top:10px;
    background-image: url("../img/assets/select.png");
    background-position: right 20px bottom 12px;
    background-repeat: no-repeat;
}

.customSelect.customSelectHover {
    /* Styles for when the select box is hovered */
    color:black;
}

.customSelect.customSelectOpen {
    /* Styles for when the select box is open */
    color:black;
}

.customSelect.customSelectFocus {
    /* Styles for when the select box is in focus */
    color:black;
}

.customSelectInner {
    /* You can style the inner box too */
    color:black;
}