{"text":"Kefalonija avio vila Areti 30.07.","price":"299","image":"\/img\/assets\/cover\/Milopotamus cover photo prazan.jpg","link":"http:\/\/www.robinson.rs\/grcka-leto-2016\/kefalonija\/vila-areti\/81"}