environments:
    development:
        user: root
        pass: password
    testing:
        user: {{DB_USER}}
        host: {{DB_HOST}}
        pass: {{DB_PASSWORD}}
        name: {{DB_NAME}}
        port: 3306